.btn {
    padding-top: 4px;
}

.todoWrapper {
    width: 95%;
    border-bottom: 1px solid gray;
    text-align: left;
    margin-bottom: 10px;
}
.btnRemove {
    padding-bottom: 4px;
}

.todo-item-card {
    text-decoration: line-through;
}

.overdue  {
    background-color: #ef5350 !important;
}

.textField {
    width: 280px;
    margin: 10px!important;
}